---
title: "Social Intelligence Lab"
layout: single
permalink: /
excerpt: "Humboldt-Universität zu Berlin"
header:
    overlay_image: /assets/images/WhatsApp Image 2022-10-24 at 8.22.23 PM (2).jpeg
    overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
---
<h2>About</h2>
<p>The Social Intelligence Lab investigates the cognitive mechanisms that underlie our ability to adapt successfully to our social environment. Furthermore, we investigate intentional and cognitive control of behavior.</p>

<h2>News</h2>
<p>Recent interviews about our research projects :) Click in the links and Check them out!
<p>https://www.scienceofintelligence.de/news-marcel-brass-speaks-about-his-research-and-his-work-at-scioi-with-the-einstein-foundation/
<p>https://www.einsteinfoundation.de/elephants-butterflies/sozialer-autopilot/
<p>Upcoming talk by our lab member Manisha! Click in the link and join if you are interested!
<p>https://twitter.com/berlin_soapbox/status/1660630525839650817?s=46&t=cAclsdbfOM3Wrez7w1ALVg
<div>
    <ul>
        {% for event in site.data.events %}
        <li>
            {% if event.date%}
            <b>{{event.date}} - </b>
            {% endif %}
            {{event.description}}
        </li>
        {% endfor %}
    </ul>
</div>
