/*hide some parts of the navbar*/
.greedy-nav {
    background: transparent; /* overwrite the default background for minimodals*/
}
.masthead {
    border-bottom: transparent; /* overwrite the default background for minimodals*/
}

/* team member list */
.archive__item-title {
    margin: 0.5em 0 0.5em;
}


.archive__item-body a {
    color: inherit;
}

.archive__item-body {
/* text-align: center;*/
}

.fab{
    font-size: xx-large;
}

.feature__item {
    margin-bottom: 20px;
}